@media (max-width: 1100px) {
    .btn {
        padding: 12px 32px ;
    }

    .wrapper {
        padding: 0 100px;
    }

    nav {
        width: 100%;
        left: 0;
        right: 0;
        padding: 36px 100px;
    }

    nav.scrolled {
        padding: 16px 100px;
    }

    header,
    .hero-section,
    header .wrapper {
        max-height: 1100px;
    }

    .hero-section {
        flex-direction: column;
    }

    .hero-section .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-section .left h1 {
        font-size: 50px;
        line-height: 125%;
    }

    .hero-section .left .btn {
        align-self: flex-start;
    }

    .hero-section .right {
        position: absolute;
        bottom: 0;
    }

    .hero-section .right img {
        height: 580px;
    }

    .hero-section .achievement-card {
        position: relative;
        margin-bottom: 80px;
    }

    .achievement-card.students-enrolled,
    .achievement-card.overall-rating {
        left: unset;
        top: unset;
    }

    /* .achievement-card.students-enrolled {
        left: 0;
        top: 0;
    }
    .achievement-card.overall-rating {
        left: 0;
        top: 0;
    } */

    .hero-section .achievement-cards {
        align-self: flex-start;
        margin: 40px;
    }

    section h2 {
        font-size: 40px;
    }

    .testimonial-section {
        flex-direction: column;
        align-items: stretch;
        gap: 50px;
    }

    .testimonial-section .testimonial-card {
        width: 100%;
        margin-bottom: 40px;
    }

    .testimonial-section .testimonial-card:last-child::before {
        top: -40px;
        left: 87px;
        height: calc(100% + 80px);
    }

    .testimonial-section .testimonial-card:last-child {
        transform: translateX(0px);
        margin-bottom: 16px;
    }

    .testimonial-section .desktop-btn {
        display: none;
    }

    .testimonial-section .mobile-btn {
        display: block;
        align-self: flex-end;
        order: 3;
    }

    .testimonial-section .right {
        order: 1;
    }

    .testimonial-section .left {
        order: 2;
    }

    .testimonial-section .right p {
        display: inline;
    }

    .testimonial-section h2 {
        margin-bottom: 16px;
    }

    .courses-section .course-cards {
        flex-direction: column;
        gap: 80px;
    }

    .courses-section .course-card {
        margin: 0;
    }

    .courses-section h2 {
        margin-bottom: 66px;
    }

    .courses-section .course-card img {
        height: 260px;
        object-fit: cover;
        width: 100%;
    }

    .courses-section .wrapper .btn {
        right: 100px;
    }

    .courses-section .course-card:last-child {
        margin-bottom: 50px;
    }

    footer .links-container {
        grid-template-columns: 1fr 1fr;
    }

    footer .links-container .links:last-child {
        grid-column: 1 / 3;
    }

}

@media (max-width: 800px) {
    nav {
        display: none;
    }

    nav.mobile-nav {
        display: flex;
    }
}

@media (max-width: 700px) {

    .wrapper {
        padding: 0 32px;
    }

    nav.mobile-nav {
        padding: 32px;
    }

    nav.mobile-nav.scrolled {
        padding: 8px 32px;
    }

    .mobile-menu-container .close-icon {
        top: 40px;
    }

    .hero-section .left p {
        width: 100%;
    }

    .hero-section .left h1 {
        font-size: 36px;
    }

    .hero-section .right img {
        height: 400px;
        transform: translateX(74px);
    }

    .hero-section .right {
        overflow: hidden;
        transform: translate(30px);
    }

    .achievement-card h3 {
        font-size: 30px;
    }

    .achievement-card p {
        font-size: 14px;
    }

    .hero-section .achievement-card {
        margin-bottom: 48px;
    }

    .hero-section .achievement-cards {
        margin: 0;
    }

    section h2 {
        font-size: 30px;
    }

    .testimonial-section .testimonial-card .info h4 {
        font-size: 18px;
    }

    .testimonial-section .testimonial-card .info p.company {
        font-size: 14px;
    }

    .testimonial-section .testimonial-card img {
        height: 100px;
        width: 100px;
        bottom: 20px;
    }

    .courses-section .wrapper {
        padding: 0;
    }

    .courses-section .course-card img {
        height: 240px;
    }

    .courses-section .wrapper .btn {
        right: 32px;
    }

    .courses-section .course-cards {
        gap: 60px;
    }

    .app-section .app-buttons {
        flex-direction: column;
    }

    footer .links-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    footer .links-container .links:last-child {
        grid-column: 1 / 2;
    }

    footer ul {
        padding: 0;
    }

    footer form input {
        padding: 8px 30px;
    }

    footer form .submit-btn {
        top: 130%;
        left: 50%;
        transform: translateX(-50%);
    }

    footer .copyright {
        margin-top: 80px;
        text-align: center;
    }




}